/** SIGNUP/LOGIN FORM START **/
body{
  margin:0;
  color:#6a6f8c;
  background:#c8c8c8;
  font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}
.wrap {
  margin:auto;
  max-width:525px;
  min-height: 900px;
  position:relative;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.wrap2 {
  margin:50px auto;
  max-width:525px;
  min-height: 600px;
  position:relative;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #071c41;
  margin:auto;
  padding: 10px 50px;
}
.tab{
  font-size:22px;
  margin-right:15px;
  padding:5px 0;
  margin:0 15px 10px 0;
  display:inline-block;
  border-bottom:2px solid transparent;
}
.label,
.group .button{
  text-transform:uppercase;
}
.group{
  margin-bottom:15px;
}
.group .label,
.group .input,
.group .button{
  width:100%;
  color:#fff;
  display:block;
}
.group .input,
.group .button{
  border:none;
  padding:15px 20px;
  border-radius:25px;
  background:rgba(255,255,255,.1);
}
.group input[data-type="password"]{
  text-security:circle;
  -webkit-text-security:circle;
}
.group .label{
  color:#aaa;
  font-size:12px;
}
.group .button{
  background:#1161ee;
}
.group label .icon{
  width:15px;
  height:15px;
  border-radius:2px;
  position:relative;
  display:inline-block;
  background:rgba(255,255,255,.1);
}
.group label .icon:before,
.group label .icon:after{
  content:'';
  width:10px;
  height:2px;
  background:#fff;
  position:absolute;
  transition:all .2s ease-in-out 0s;
}
.group label .icon:before{
  left:3px;
  width:5px;
  bottom:6px;
  -webkit-transform:scale(0) rotate(0);
          transform:scale(0) rotate(0);
}
.group label .icon:after{
  top:6px;
  right:0;
  -webkit-transform:scale(0) rotate(0);
          transform:scale(0) rotate(0);
}
.group .check:checked + label{
  color:#fff;
}
.group .check:checked + label .icon{
  background:#1161ee;
}
.hr{
  height:2px;
  margin:60px 0 50px 0;
  background:rgba(255,255,255,.2);
}
.foot-lnk{
  text-align:center;
}
button {
  cursor: pointer;
}
/** SIGNUP/LOGIN FORM END **/